#tour,
#about {
    background-image: url('/images/leather_texture.webp');
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #222;
}

#connect {
    background-image: url('/images/adelitas_way_boseman_mt.webp');
    background-size: cover;
    background-position: center;

    h2 {
        text-shadow: 2px 2px 4px #000000;
        font-size: 3em;
    }
}

#moreText {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}
