.btn {
    background-color: rgba(0,0,0,.5);
}

.btn:hover {
    background-color: var(--primary-color);
}

.btn-light-blue-bg {
    background-color: rgb(123, 190, 253);
}

.btn-light-blue-bg:hover {
    background-color: var(--secondary-color);
}